.dive-page {

  &__back {
    font-size: 0.9rem;
    background: $dive-banner;

    p {
      margin: 0;
      & + & {
        margin-top: 0.5rem;
      }
    }

    &-inner {
      padding: 1rem 1.5rem;
      max-width: calc(1200px + 3rem);
      margin: 0 auto;
    }
  }

  &__container {
    max-width: calc(1200px + 3rem);
    padding: 0 1.5rem;
    margin: 0 auto;
  }

  &__top {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  &__title {
    margin: 0 0 1rem;
    color: $dive-text;
    font-weight: 700;
    font-size: 1.6rem;
  }

  &__trip {
    margin: 0 0 0.5rem;
    font-weight: 700;
    font-size: 1.1rem;
  }

  &__panel {
    padding: 1rem;
    margin: 0 0 1.5rem;
    border: 2.5px solid $dive-border;
    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(11, 58, 102, 0.08);

    &-grid {
      display: grid;
      gap: 2rem;
    }

    .mapboxgl-map,
    .map-container {
      border-radius: 12px;
      overflow: hidden;
    }
  }

  &__info {
    p {
      margin: 0 0 0.75rem;
    }
    ul {
      margin: 0;
    }
  }


  &__types {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0.75rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem 5vw;
  }

  &__subtitle {
    margin: 1.5rem 0 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
  }

  &__summary {
    &-item {
      margin-bottom: 2rem;

      &-top {
        padding: 1.5rem 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
      }

      h3 {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        margin: 0;
        font-weight: 700;
        font-size: 1.2rem;
        color: $dive-navy;
      }
    }

    &-list {
      margin: 0.25rem 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    &-img {
      display: block;
      max-width: 80px;
      aspect-ratio: 1 / 1;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__log h2,
  &__depth h3 {
      margin: 0 0 1rem;
      font-weight: 700;
  }

  &__depth {
    width: 100%;
    grid-column: 1 / -1;
  }
}

@media (min-width: 700px) {
.dive-page {
    &__panel {
      padding: 1.5rem;


      &-grid {
        grid-template-columns: auto 1fr;
        gap: 5vw;
      }
    }

    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
