html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: $dive-text;
  background-color: $dive-background;
}

body > main {
  min-height: 70vh;
}

.depth-chart {
  max-width: 100%;

  canvas {
    max-width: 100%;
  }
}
